@charset "utf-8";

header {
    position: relative;
    width: 100%;
    height: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 96px;

}

.util {
    display: flex;
    justify-content: space-between;
    padding: 24px 96px;
    font-size: 16px;
    color: #999;
    font-weight: 400;
}

.util ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.gnb_right h1 a {
    background: url(../img/logo.svg)no-repeat center center;
    padding-right: 120px;
    padding-bottom: 10px;
}

.gnb {
    display: flex;
    justify-content: space-between;
    padding: 0 96px;
}

.gnb_right {
    display: flex;
    justify-content: space-between;
    gap: 96px;
}

.gnb_right ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    font-size: 20px;
    font-weight: 500;
}

.gnb_left {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.gnb_left li:nth-child(1) {
    background: url(../img/search.svg)no-repeat center center;
    padding: 15px;
}

.gnb_left li:nth-child(2) {
    background: url(../img/menu.svg)no-repeat center center;
    padding: 15px;
}

.s1_gradient {
    position: absolute;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 90%, #FFFFFF 100%);
    width: 100%;
    height: 400px;
    pointer-events: none;
}

.s1 {
    width: 100%;
    height: 400px;
    margin-bottom: 96px;
}

.slide {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    margin-bottom: 24px;
}

.slide li a {
    border-radius: 30px;
}

.slide li:nth-child(1) a {
    display: block;
    background: url(../img/sub_s1_slide01.jpg);
    width: 338px;
    height: 300px;
}

.slide li:nth-child(2) a {
    display: block;
    background: url(../img/sub_s1_slide02.jpg);
    width: 338px;
    height: 300px;
}

.slide li:nth-child(3) a {
    display: block;
    background: url(../img/sub_s1_slide03.jpg);
    width: 450px;
    height: 400px;
}

.slide li:nth-child(4) a {
    display: block;
    background: url(../img/sub_s1_slide04.jpg);
    width: 338px;
    height: 300px;
}

.slide li:nth-child(5) a {
    display: block;
    background: url(../img/sub_s1_slide05.jpg);
    width: 338px;
    height: 300px;
}

.page {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.page li:nth-child(1) a {
    display: block;
    background: url(../img/sub_arrl.svg)no-repeat center center;
    width: 7px;
    height: 12px;
}

.page li:nth-child(3) {
    display: block;
    background: url(../img/sub_line.svg)no-repeat center center;
    width: 7px;
    height: 12px;
}

.page li:nth-child(4) {
    color: #777;
}

.page li:nth-child(5) a {
    display: block;
    background: url(../img/sub_arrr.svg)no-repeat center center;
    width: 7px;
    height: 12px;
}

main {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.main_up {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cate {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cate ul {
    display: flex;
    justify-content: center;
    gap: 8px;

}

.cate ul li {
    padding: 8px 16px;
    background-color: #eee;
    color: #555;
    border-radius: 50px;
}

.cate ul:first-child li:first-child {
    background-color: #1572ed;
    color: white;
    font-weight: 600;
}


.input_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}

.input_wrap input {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 50px;
    padding: 32px 24px;
    border-radius: 15px;
    border: none;
    background-color: #eee;
}

.icon {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
    background: url("../img/search.svg") center / contain no-repeat;
}

input:focus {
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

.main_down {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

.title h2 span {
    font-weight: 400;
}

.grid {
    display: flex;
    gap: 8px;
}

.grid a:first-child {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/sub_3grid.svg)no-repeat center center;
}

.grid a:last-child {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/sub_4grid.svg)no-repeat center center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card_layout {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card_layout a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
    margin: 48px;
}


.card_layout a span {
    margin-bottom: 24px;
}

.card_layout p {
    color: #1572ed;
    font-weight: 500;
    margin-bottom: 8px;
    min-height: 40px;
}

.card_layout:nth-child(1) a:nth-child(1) span {
    display: block;
    width: 190px;
    height: 300px;
    background: url(../img/card01.jpg)no-repeat center center;
}

.card_layout:nth-child(1) a:nth-child(2) span {
    display: block;
    width: 190px;
    height: 300px;
    background: url(../img/card02.jpg)no-repeat center center;
}

.card_layout:nth-child(1) a:nth-child(3) span {
    display: block;
    width: 190px;
    height: 300px;
    background: url(../img/card03.jpg)no-repeat center center;
}

.card_layout:nth-child(2) a:nth-child(1) span {
    display: block;
    width: 190px;
    height: 300px;
    background: url(../img/card04.jpg)no-repeat center center;
}

.card_layout:nth-child(2) a:nth-child(2) span {
    display: block;
    width: 190px;
    height: 300px;
    background: url(../img/card05.jpg)no-repeat center center;
}

.card_layout:nth-child(2) a:nth-child(3) span {
    display: block;
    width: 190px;
    height: 300px;
    background: url(../img/card06.jpg)no-repeat center center;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

.more {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.more span {
    display: block;
    width: 10px;
    height: 5px;
    background: url(../img/sub_down.svg)no-repeat center center;
}





























footer {
    width: 100%;
    height: 500px;
    border-radius: 30px 30px 0px 0px;
    color: white;
    padding-top: 160px;
    background: #1572ed url(../img/footer_bg.png)no-repeat center 300px;
}

.footer_wrap {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}



.footer_left ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 32px;
}

.footer_left p:nth-child(2) {
    font-weight: 700;
    margin-bottom: 24px;
}

.footer_left p:nth-child(3) {
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 24px;
}

.footer_left p:nth-child(4) {
    font-weight: 500;

}

.footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer_right ul {
    display: flex;
    gap: 16px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 72px;
}

.footer_right ul li {
    display: flex;
    align-items: center;
}

.footer_right ul li:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 15px;
    background: #fff;
    border-radius: 50px;
    margin-left: 16px;
}

.sns {
    display: flex;
    gap: 24px;
    width: 170px;
    margin-bottom: 24px;
}

.sns a {
    opacity: 0.6;
    display: flex;
    justify-content: flex-end;
}

.sns a:nth-child(1) {
    background: url(../img/blog.svg)no-repeat center center;
    display: block;
    width: 25px;
    height: 25px;
}

.sns a:nth-child(2) {
    background: url(../img/insta.svg)no-repeat center center;
    display: block;
    width: 25px;
    height: 25px;
}

.sns a:nth-child(3) {
    background: url(../img/face.svg)no-repeat center center;
    display: block;
    width: 25px;
    height: 25px;
}

.sns a:nth-child(4) {
    background: url(../img/youtube.svg)no-repeat center center;
    display: block;
    width: 25px;
    height: 25px;
}

.family {
    display: flex;
    justify-content: end;
}

.family a {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
}

.family span {
    display: inline-block;
    background: url(../img/fam_arr.svg)no-repeat center center;
    width: 15px;
    height: 15px;
}